html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.admin-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.admin-content {
  background-color: purple;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.resource-area {
  background-color: rgb(58, 58, 58);
  width: 50vw;
  padding: 1vh 1vh 1vh 0;
}

.preview-area {
  background-color: rgb(58, 58, 58);
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.virtual-tour {
  position: relative;
  height: 100%;
  padding: 1vh;
  border-radius: 1vh;
}

/* 
  .dnd-context-wrapper {
    display: flex;
    flex-direction: row;
    height: 95vh;
  }

  .resource-list-wrapper {
    display: flex;
    flex-direction: column;
  }

  .tour-preview {
    display: flex;
    flex-direction: column;
  }

  .tour-preview-canvas {
    width: 50vw;
    height: 54vh;
    background-color: rgb(54, 54, 54);
  } */

@media (max-width: 768px) {
  .resource-area {
    width: 100vw;
  }

  .preview-area {
    display: none;
  }
}