.footer {
    background-color: black;
    color: white;
    padding: 1.5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-text {
    display:flex;
    flex-direction: column;
    text-align: end;
    width: 100%;
  }
  
  .footer-text p {
    margin: 2px 0;
  }
  
  .envelope-icon::before {
    content: '📧'; /* Unicode character for envelope icon */
    margin-right: 8px;
  }

  /* unvisited link */
.footer a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
.footer a:visited {
  color: rgb(173, 173, 173);
}

/* mouse over link */
.footer a:hover {
  color: rgb(0, 140, 255);
}

/* selected link */
.footer a:active {
  color: rgb(6, 59, 109);
}